/*Estilos Página de Prueba*/
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 80%;
    font-family: 'Arial', sans-serif;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #f3f3f3;
}
nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: 1rem;
    text-transform: uppercase;
}
nav ul li {
    margin: 20px;
}
div.logo {
    font-size: 1rem;
    text-transform: uppercase;
    font-kerning: 5px;
    font-weight: 600;
}